<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-brand">
            <%= link_to "Exeter", root_url %>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><%= link_to "Logout", logout_path, method: "delete" %></li>
            </ul>
        </div>
    </div>
</nav>
