<%= form_for(@group, url: user_groups_path(user_id: @user.id)) do |f| %>
    <div class="form-group">
        <%= f.label :name, "Group name:" %>
        <%= f.text_field :name, class: "form-control" %>
    </div>

    <%= f.submit "Create group", class: "btn btn-primary" %>
<% end %>
