<div class="container-fluid">
    <h3>Group name:</h3>
    <h4><%= @group.name %></h4>
    <br>
    <p><%= link_to "Add friend to group:", edit_group_path(@group) %></p>
    <br>
    <h3>Group members:</h3>
    <ol>
    <% @members_groups.each do |group| %>
        <li>
            <%= User.find(group.member_id).name %>
        </li>
    <% end %>
    </ol>
</div>
