<h1><%= @greeting %></h1>

<h4>
    Hi <%= @user.name %>,
</h4>

<p>
    Welcome to Exeter! Click on the link below to activate your account:
</p>

<%= link_to "Activate my account", verify_account_url(@user.activation_token, email: @user.email), class: "btn btn-primary" %>
