<h1><%= @greeting %></h1>

<p>
    To reset your password, click on the following link:
</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>
    This link will expire in 2 hrs.
</p>
