<script>
  $(document).ready(function() {
    var pusher = new Pusher('<%= Pusher.key %>');
    var channel = pusher.subscribe('post_channel');
    channel.bind('post', function(post) {
      $('#notification').text(post.poster_name);
    })
  });
</script>
<li class="dropdown">
  <a href="#" id="notification-bell" class="dropdown-toggle" data-toggle="dropdown">
    <i class="glyphicon glyphicon-bell"></i>
  </a>
  <ul class="dropdown-menu">
    <% current_logged_in_user.notifications.each do |notification| %>
      <li>
        <%= notification.content %>
      </li>
      <hr>
    <% end %>
  </ul>
</li>
