<script>
  $(document).ready(function() {
    // var pusher = new Pusher('<%= Pusher.key %>');
    // var channel = pusher.subscribe('post_channel');
    // channel.bind('post', function(post) {
    //   $('#notification').text(post.poster_name);
    // })
  });
</script>
<li class="dropdown">
  <%= link_to notification_path, remote: true, method: :patch, id: "notification-bell", class: "dropdown-toggle", data: { toggle: "dropdown" } do %>
    <i class="glyphicon glyphicon-bell"></i>
  <% end %>
  <ul class="dropdown-menu">
    <% current_logged_in_user.notifications.each do |notification| %>
      <% if notification.read %>
        <li class="notification-read">
      <% else %>
        <li class="notification-unread">
      <% end %>
        <%= notification.content %>
      </li>
      <hr>
    <% end %>
  </ul>
</li>
