<% provide(:title, "All Users") %>
<div class="container-fluid">
    <div class="jumbotron">
        <ol>
            <% @all_users.each do |user| %>
                <%= render user %>
            <% end %>
        </ol>
    </div>
</div>
