<% if object.errors.any? %>
    <div id="error_messages">
        <%= content_tag(:div, "The form contains #{pluralize(object.errors.count, "errors")}:", class: "alert alert-danger") %>
        <ul>
            <% object.errors.full_messages.each do |error| %>
                    <%= content_tag(:li, error) %>
            <% end %>
        </ul>
    </div>
<% end %>
