<%= form_for(@new_post) do |f| %>
    <div class="form-group">
        <%= f.text_area :content, placeholder: "Compose new post...", class: 'form-control' %>
    </div>
    <%= f.hidden_field :group_id, value: @group.id %>
    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
