<li id="post-<%= post.id %>">
    <h5>
        <%= link_to post.user.name, post.user %>
    </h5>
    <p>
        <%= post.content %>
    </p>
    <span>
        <button type="button" class="btn btn-default">
        <%= link_to "Delete post", post, method: :delete %>
        </button>
    </span>
</li>
